<section>

    <div class="agenda-main-container">
        <div class="agenda-wrapper half">
            <div class="agenda-header">
                <h3>Today's Agenda</h3>
            </div>
            <div class="agenda-details">
                <p>Building an App with Angular</p>
            </div>
        </div>

        <div class="reminder-wrapper half">
            <div class="reminder-header">
                <h3>Reminders</h3>
            </div>
            <div class="reminder-details">
                <p> We consider satisfactory academic progress 
                    to be completing all required assignments 
                    and maintaining a passing grade of 70% or higher. 
                </p>
            </div>
        </div>
    </div>

</section>
